body {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

.fontPlayfair {
  font-family: 'Playfair Display', serif;
}

.fontMulish {
  font-family: 'Mulish';
}

hr.home {
  width: 38px;
  border: 2px solid;
}

ul.pagination {
  display: flex;
  margin-top: 1rem;
}

ul.pagination li {
  margin: 2px;
  padding: 2px 4px;
  border: 1px solid gainsboro;
}

ul.pagination li.active {
  background-color: #0057ff;
  font-weight: 700;
  color: #fff;
}

.h-616 {
  height: 616px;
}

.w-696 {
  width: 696px;
}

.h-315 {
  height: 315px;
}

.w-450 {
  width: 450px;
}

@media (max-width: 576px) {
  .h-315,
  .h-616 {
    height: 315px;
  }
  
  .w-450,
  .w-696 {
    width: 100%;
  }
}