body {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

.fontPlayfair {
  font-family: 'Playfair Display', serif;
}

hr.home {
  width: 38px;
  border: 2px solid;
}

ul.pagination {
  display: flex;
  margin-top: 1rem;
}

ul.pagination li {
  margin: 2px;
  padding: 2px 4px;
  border: 1px solid gainsboro;
}

ul.pagination li.active {
  background-color: #0057ff;
  font-weight: 700;
  color: #fff;
}